@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: white;
}

html {
    scroll-behavior: smooth;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: rgb(14, 13, 13) url('https://i.pinimg.com/originals/d4/95/ca/d495ca580aecffac8adbd6ed6bcfa44e.gif') no-repeat center;
}

body {
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
    background-attachment: fixed;
    /* position: fixed; */
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#nav-container {
    width: 100%;
    /* position: fixed; */
    background-color: transparent;
}

nav {
    max-width: 1520px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.6rem;
}

nav a:hover {
    opacity: .7;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 1.4rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    /* border-radius: 24px; */
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.07);
}

.card p {
    margin-top: auto;
    margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
    body {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}